
/* //////////////////////////////////////////////////////// */
/* FEED CSS */
/* //////////////////////////////////////////////////////// */

.service-provider-profile .feed-item{
    border-radius: 10px;
  }
  .feed-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10vw;
    border-radius: 10px;
  }
  
  .feed-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .feed-card img{
    border-radius: 10px 10px 0 0;
  }
  
  .feed-post-container {

    padding: 2px 16px;
  }
  .post-section{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .button-section{
    display: flex;

  }

  .cancel{
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    align-items: center;
    appearance: none;
    background-color: #ea6c7b;
   
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 20px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    
    margin-left: 20px;
  
    
  
    justify-content: center;
   
    padding: 6px 20px;
  
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
  
  }
  



  .title-section{
    display: flex;
    justify-content: space-between;

  }
  
  #create-feed-post{
    margin-left:20px;
    height: 40px;
  
    background-color: #007bff; /* Set the background color */
    color: #fff; /* Set the text color */
    padding: 10px 20px; /* Set the padding */
    border: none; /* Remove the border */
    border-radius: 5px; /* Add some border radius */
    font-size: 16px; /* Set the font size */
    cursor: pointer; /* Change the cursor on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
  }
  
  .button-section button[type="reset"]{
    margin-left:20px;
   
    display: flex;
    align-items: center;
    background-color: #838081; /* Set the background color */
    color: #fff; /* Set the text color */
    padding: 10px 20px; /* Set the padding */
    border: none; /* Remove the border */
    border-radius: 5px; /* Add some border radius */
    font-size: 16px; /* Set the font size */
    cursor: pointer; /* Change the cursor on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
  }
  
  .button-section button[type="reset"]:hover {
    background-color: #d70909; /* Darken the background color on hover */
  }
  
  .service-provider-profile #feed-title{
    font-size: 3rem;
    font-weight: 600;
    
  }
  
  .service-provider-profile #feed-discription{
    font-family:Open Sans;
    font-size: 1.5rem;
    font-weight: 100;
  }
  
  .feed-post-edit-container label{
    display: block;
    margin-bottom: 20px;
    font-family: Inter;
    margin-top: 10px;
    font-weight: 300;
    font-size: 1rem;
    
    
  }
  .feed-post-edit-container input{
    border: none; /* Remove the border */
    border: 1px solid #ccc; /* Add a bottom border */
    padding: 5px; /* Set the padding */
    font-size: 16px; /* Set the font size */
    background-color: transparent; /* Make the background transparent */
    transition: border-color 0.3s ease-in-out; 
    border-radius: 10px;
    width: 100%;
    height:7vh;
    font-weight: 600;
  
  }
  
  .feed-post-edit-container input:focus{
    outline: none; /* Remove the outline */
    border-color: #007bff; 
  }
  .feed-post-edit-container span{
    display: block;
    margin: 20px;
    font-family: Open Sans;
  }
  .feed-post-edit-container .post-pics{
    display: flex;
    gap: 10vw;
    margin-bottom:20px;
    justify-content: center;
    padding: 20px;
    
  }
  .feed-post-edit-container .feed-item{
    position: relative;
  }
  .post-content{
    margin-top: 40px;
    max-width: 1000px;
  }
  .feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #post-title{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  

// image slideshow

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
 
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





















  
  /* this is styles for add to watch list button in service provider public  */
  .add_watch_list form input[type ='submit']{
    font-weight: 400;
    font-size: 15px;
    align-items: center;
    appearance: none;
    background-color: #ea6c7b;
   
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 20px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    padding: 6px 20px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
   
    
    
  
    
  
    justify-content: center;
   
    padding: 6px 20px;
  
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
  }

  .dinesh-wrapper{

    
  }

  
  .add_watch_list form input[type ='submit']:hover, .message.btn:hover, .review.btn:hover{
    background-color:#393636;
    border: none;
  }
  .message_review.service_provider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  .message.btn, .review.btn{
    width: 200px;
    height: 40px;
    font-weight: 400;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    appearance: none;
    background-color: #8245ec;
   
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 20px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    
    // margin-left: 20px;
  
    
  
   
   
    padding: 6px 20px;
  

    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .review.btn{
    margin-left: 10px;
  }

  

  