.advertisement{
    display: block;
    position: absolute;
    left: 240px;
    width: calc(100% - 240px);
    height: 90vh;
    padding:1% 2% 1% 2%;
    background: #E5E9F7;
  
}
.add{
    background: white;
    border: 1px solid white;
    border-radius: 12px;
    height: 100%;
    padding:2% 3% 1% 3%;

}
.form_seller{
    width: 100%;
}
.input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding:1% 3% 1% 3%;

}
.input label{
    margin-right: 4%;
    /* border: 1px solid black; */
    flex-basis: 30%;

}
.input input{
    width: 80%;
    line-height: 5vh;
    border-radius: 9px;
    border: 1px solid white;
    flex-basis: 80%;

    background-color: #E5E9F7;

}
/* .input .price{
    flex-shrink: 100; 
} */
.date{
    display: none;
}
#check_au:checked ~ .date{
    display: block;
  }
.image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 4%;
    gap:16%;
    width: 30%;

}
.image input{
    width: 30%;
    height: 5vh;
    flex-basis: 20%;
}
.fa-solid{
}
.descriptionl{
    align-items: flex-start;
    height: 25vh;
    
}
.description{
    height: 25vh;
}
.post{
    background: #5C4FEF;
    margin: 1% 3% 1% 15%;
    padding: 0.25% 1% 0.25% 1%;
    color: white;
    border-radius: 10px;
    border: 1px solid #5C4FEF;
    width: 10%;
}
.post:hover{
    background: #F01131;
    border: 1px solid #F01131;
}
.cancel{
    background: #F01131;
    padding: 0.25% 1% 0.25% 1%;
    color: white;
    border-radius: 12px;
    border: 1px solid #F01131;
    width: 10%;
    font-size: 11pt;
    font-weight: normal;
}
.cancel:hover{
    background: #5C4FEF;
    border: 1px solid #5C4FEF;
    color: white;
}
@media (max-width:860px){
    .advertisement{
        left: 70px;
        width: calc(100% - 70px);
        height: 100vh;
      }
  }