.header h1{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkgrey;
    font-weight: 500;

}
.container-data{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 230px;
    grid-gap: 0.3rem;
    
    
}
.container{
    height: 100vh;
    margin-top: 10vh;
}
.container-ad{
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    border-radius: 1rem;
    border: 1px solid ghostwhite;

    
 }
 .container-img {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0 ;
    
 }
 .container-img img{
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    /* flex-shrink: 0;
    min-width: 100%;
    min-height: 100% */
    
 }
.container-ad .title{
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(56, 68, 36);
    width: 100%;
    height: 25%;
    overflow: hidden;
    background-color:rgb(214, 214, 239);
    border-radius: 0 0 1rem 1rem;


  
  
 }
 .container{
    padding-top: 2vh;
 }
 .container .ad_search{
    margin: 00px 20px 20px 50%;
}
.container .ad_search input{
    width: 500px;
    height: 35px;
    border: none;
    border-radius: 1rem;
    background-color: white;
    font-size: 24px;
    padding-inline: 1rem;
}
.container .ad_search button{
    margin-left: 20px;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 1rem;
    background-color: white;
    font-size: 24px;
    
}