.sidebar {
  width:240px;
  min-height:90vh;
  max-height: auto;
  background: #1e1e1e;
  padding-top: 6vh;
  display: block;
  position: fixed;
  
}
.sidebar a{
  display: block;
  color: #E5E9F7;
  min-height: 65px;
  width: 100%;
  line-height: 65px;
  padding-left: 30px;
  border-left: 2px solid #e5e9f7 transparent;
}
.sidebar .current{
  background: #E5E9F7;
  color: #e70000;
  font-weight: 800;
}


a:hover, a:active{
  border-left: 2px solid #e5e9f7;
  color:#e70000;
  background-color: #e5e9f7;

}

.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.feedback{
  font-size: 16pt;
    font-weight: 800;
    margin-left: 240px;
    margin-right: 0px;
}
.feedback{
  /* text-align: center; */
    margin-bottom: 2vh;
    margin-left: 240px;
    margin-right: 0px;

}


@media (max-width:860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin:10vh 0;
  }
  .sidebar .current{
    background: #E5E9F7;
    color: red;
  }
  span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }
  .sidebar a i{
    margin-left: -10px;

  }
  .poster_advertisements{
    left: 70px;
    width: calc(100% - 70px);
    height: 100vh;
  }
  .feedback,h1{
    margin-left: 70px;
  }


}
.container{
  background-image: none;
}



 