@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans';
  }

  nav{
    background: #FFFFFF;
    height: 10vh;
    width: 100%;
    position: fixed;
  }
  nav img{
    margin-top: 2vh;
    margin-left: 2%;
  }
  nav ul{
    float: right;
    margin-right: 3%;
  }
  nav ul li{
    display: inline-block;
    line-height: 10vh;
  }
  .nav_tags{
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 0 10px;
    border-radius: 3px;
  }
  nav ul li:hover{
    background: #E5E9F7;
    /* transition: .5s; */
    height: 10vh;
   

    
  }
  nav ul li:hover a{
    /* transition: .5s; */
    color: #F01131;
    
    
  }
  .nav_tags.active,.nav_tags:hover{
    color: #F01131;


  }

  .switch{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
    float: left;
  }
  .switch a{
    text-decoration: none;
    color: black;
    line-height: 10vh;
    text-align: center;
    margin-left: 4%;
  }
  .toggle_a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    line-height: 2vh;
    text-align: center;
    width: 100%;
    /* margin-left: 4%; */
    /* margin-top: 2vh; */
    font-size: 10pt;
    justify-content: space-between;
  }
  .switch a:hover{
    color: green;
  }

  .switch_container{
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
  }
    .toggle {
      width: 70px;
      margin-top: 1vh;
      margin-left: 10px;
      /* flex-basis: 2vh; */
    }
    .toggle_switch{
      position: relative;
      display: inline-block;
      width: 65px;
      height: 30px;
  
    }
    .slider{
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000000;
      transition: .4s;
      border-radius: 34px;
    }
    .toggle_switch input{
      display: none;
    }
    .slider:before{
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 5px;
      bottom: 5px;
      background-color: #ffffff;
      transition: .4s;
      border-radius: 50%;
    }
    .toggle_switch input:checked + .slider{
      background-color: #00ff44;
    }
    .toggle_switch input:checked + .slider:before{
      transform: translateX(34px);
      /* background-color: #FFFFFF; */
    }
  .checkbtn{
    font-size: 25pt;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 10vh;
    margin-right: 3%;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 600px){
    .checkbtn{
      display: block;
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 55vh;
      background: #afb0b1;
      top: 10vh;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 1.5vh;
    }
    .nav_tags{
      font-size: 15pt;
    }
    .nav_tags:hover,.nav_tags.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .toggle_a{
      margin-top: 3vh;
    }
  }
 .container{
    background: url("./img/retro-microphone-isolated-color-background\ 1.png");
    animation: myAnim 5s ease 0s 1 reverse backwards;
    animation-fill-mode: forwards;
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: right;
  
}
.form h1{
    text-align: center;
}
.container .form h2{
  background: #ff7373;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    padding: 1% 1% 1% 1%;
}
.error{
    background: #ff7373;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    padding: 1% 1% 1% 1%;
}
.form{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: left;
    width: 30%;
    margin-left: 10%;
    height: 90vh;
 }
 .form form input{
    width: 100%;
    line-height: 5vh;
    border: 1px solid #E5E9F7;
    border-radius: 8px;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding-left: 2%;
 }
 .form form label{
    width: 100%;
    line-height: 5vh;
    margin-left: 3%;
 }
 .form form select{
    width: 100%;
    line-height: 15vh;
    height: 5vh;
    border: 1px solid #E5E9F7;
    border-radius: 8px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 2%;
 }
 .form .submit{
     width: 30%;
     margin-top: 2vh;
     height: 4vh;
    }
    .form .submit input{
        /* padding: 2% 0 2% 0; */
        text-align: center;
        color: rgb(0, 0, 0);
        background :#E5E9F7;
        margin-top: 2vh;
        height: 5vh;
        border: 1px solid black;
        border-radius: 12px;

}
/* ADDED BY EPA */

@keyframes myAnim {
	0% {
		background-position: right center;
		background-size: 100%;
 
	}

	100% {
		background-position: right center;
		background-size: 150%;
	}
}


/* ADDED BY DINESH */

.search{
  position: absolute;
  width: 1220px;
  height: 215px;
  left: 99px;
  top: 225px;
  display: flex;
  flex-direction: column;
}
.search .heading h1 {
  font-size: 40px;
  font-weight: 600;
}
.search .search-bar{
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}
.search .search-bar input{
  margin: 0;
  width: 650px;
  height: 55px;
  background: rgba(217, 217, 217, 0.7);
  opacity: 0.8;
  border-radius: 25px 0 0 25px;
  font-size: 26px;
  border: none;
  padding-inline: 1rem ;
}
.search .search-bar img{
  width: 35px;
  aspect-ratio: 1;
}

.search-bar .btn-search{
  margin: 0;
  width: 81px;
  height: 55px;
  font-size: 24px;
  font-weight: 400;
  background: #FFFFFF;
  opacity: 0.8;
  border-radius: 0 6px 6px 0;
  border:none;
  display: flex;
  justify-content: center;
  align-items:center;
}
.explore{
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 141px;
  left: 422px;
  top: 500px;
}
.explore .explore-line{
  font-size: 20px;
  font-weight: 650;
  color: #E5E9F7;
}
.explore .explore-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}
.explore .explore-btn button{
  width: 70px;
  height: 59px;
  font-size: 24px;
  font-weight: 400;
  background: rgba(229, 233, 247, 0.5);
  opacity: 0.8;
  border-radius: 16px;
}
.explore .explore-btn button:hover{
  background: #ffffff;
  transition: .5s;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: red;
  font-weight: 700; 
}

.form .submit{
    width: 40%;
}
.form .submit input{
    background: #E5E9F7;
    border-style: none;
    color: black;
    padding: 0;
    line-height: 0;
    width: 70%;
    height: 5vh;
    margin: 0;
}
.reg_now, .forgot{
    font-weight: 700;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.reg_now a{
    font-weight: 700;
    color: #863B3B;
    text-decoration: underline;
}
.forgot{
    font-weight: 700;
    color: #863B3B;
    text-align: center;
    width: 100%;
    margin-top: 1vh;
}

.form .submit{
  width: 40%;
}
.form .submit input{
  background: #E5E9F7;
  border-style: none;
  color: black;
  padding: 0;
  line-height: 0;
  width: 70%;
  height: 5vh;
  margin: 0;
}
.reg_now, .forgot{
  font-weight: 700;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.reg_now a{
  font-weight: 700;
  color: #863B3B;
  text-decoration: underline;
}
.forgot{
  font-weight: 700;
  color: #863B3B;
  text-align: center;
  width: 100%;
  margin-top: 1vh;
}





.dropdown{
  line-height: 9vh;

  padding: 0 10px;
  border-radius: 3px;
  
}
.dropdown:hover{
  background: #E5E9F7;
  transition: .5s;

}
.dropdown:hover .dropbtn{
  line-height: 10vh;
  background: #E5E9F7;
  color: #F01131;
  transition: .5s;


}
 /* Dropdown Button */
.dropbtn {
background-color: #ffffff;
color: rgb(0, 0, 0);
border: none;
cursor: pointer;
font-size: 17px;
  line-height: 10vh;


}
/* Dropdown button on hover & focus */
.dropbtn:hover {
color: #F01131;
background-color: #E5E9F7;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #E5E9F7;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
line-height: 1vh;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
display:block;
} 
.checkbtn{
  font-size: 25pt;
  color: rgb(0, 0, 0);
  float: right;
  line-height: 10vh;
  margin-right: 3%;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}



/* FEED */
