.nav{
}
.form{
    position: absolute;
    margin-top: 4vh;
}
.form .submit{
    width: 40%;
}
.form .submit input{
    line-height: 2vh;
    text-align: center;
    width: 100%;
    height: 6vh;
    background :#002EF9;
    color: white;
    margin-top: 2vh;
    border: 1px solid white;
    border-radius: 12px;

}
.form .submit input:hover{
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    cursor: pointer;
}
@media (max-width:1100px){
    .submit{
        width: 100%;
    }
    .form .submit input{
        font-size: 8pt;
      
    
    }
}  
@media (max-width:860px){
    .form .submit{
        width: 100%;
    }
    .form .submit input{
        font-size: 8pt;
      
    
    }
}